<ion-view class="splashbg text-center">

	<ion-header-bar align-title="center" class="bar-signup">
 
		  <h1 class="title">Signup</h1>
 
	</ion-header-bar>

	<ion-content class="has-header signup-header">

		<div class="verify-body">

			<div class="verify-text">We need your nick name<br/>and phone number to verify<br/>your mobile</div>
			<div class="clearfix"></div>

			<form action="">

				<input type="text" class="form-control-verify" ng-model="user.phone" placeholder="Phone No."/>
				<div class="clearfix"></div>
				<button type="button" class="btn-verify" ng-click="verifyPhoneNo()">OK! Signup</button>

			</form>

		</div>

	</ion-content>

</ion-view>