<ion-view view-title="Dashboard">

<ion-content>
	
 <div class="list list-inset">
	<input type="text" placeholder="Search for users ..." ng-model="user.search" class="search-input"/>
 </div>

 <div class="list">

    <a class="item item-avatar" ng-repeat="user in subscribers | filter:user.search" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
      <img ng-src="http://localhost/360notes/uploads/subscribers/thumbs/{{user.image}}" ng-if="user.image != null">
      <h2>{{user.name}}</h2>
      <button class="btn-hollow-blu" ng-click="followSubscriber($event, user._id)" id="{{user._id}}" ng-class="{'follow-btn':!hasFav(user._id), 'follow-btn-following':hasFav(user._id)}">
        {{hasFav(user._id) ? 'Following' : 'Follow'}}
      </button>
    </a>

</div>
</ion-content>

<ion-footer-bar align-title="left" class="bar-signup">
 	<button class="find-more-btn" ng-click="showCategories()">Find More</button>
</ion-footer-bar>
</ion-view>